@model IEnumerable<Jobick.Models.Project>

@{
    Layout = "~/Views/Shared/_LayoutJobick.cshtml";
    ViewData["Title"] = "المشاريع";
}

<div class="content-body">
    <div class="container-fluid">

        <!-- Breadcrumb -->
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">المشاريع</a></li>
            </ol>
        </div>

        <!-- Add Button -->
        <div class="row mb-3">
            <div class="col-12 text-end">
                <a class="btn btn-sm btn-primary"
                   href="@Url.Action("CreateProject", "Projects")">
                    <i class="fa fa-plus"></i> إضافة مشروع
                </a>
            </div>
        </div>

        <!-- Projects Table -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">قائمة المشاريع</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="projectsTable" class="table table-hover table-striped" style="min-width: 1000px">
                                <thead>
                                    <tr>
                                        @* <th>الحالة</th> *@
                                        <th>الاسم</th>
                                        <th>الوصف</th>
                                        <th>المسؤول</th>
                                        <th>مالك النظام</th>
                                        <th>هدف المشروع</th>
                                        <th>تاريخ البدء</th>
                                        <th>تاريخ الانتهاء</th>
                                        <th>التكلفة الإجمالية</th>
                                        <th>الإجراءات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var project in Model)
                                    {
                                        <tr onclick="window.location='@Url.Action("ProjectDetails", "Projects", new { id = project.Id })'"
                                            style="cursor:pointer;">
                                            @* <td><span class="badge light badge-warning">قيد التنفيذ</span></td> *@
                                            <td>@project.Name</td>
                                            <td>@project.Description</td>
                                            <td>@project.ResponsibleForImplementing</td>
                                            <td>@project.SystemOwner</td>
                                            <td>@project.ProjectGoal</td>
                                            <td>@project.StartSate.ToString("yyyy/MM/dd")</td>
                                            <td>@project.EndDate.ToString("yyyy/MM/dd")</td>
                                            <td>@project.TotalCost?.ToString("C")</td>
                                            <td>
                                                <div class="d-flex">
                                                    <a asp-controller="Projects" asp-action="Edit" asp-route-id="@project.Id"
                                                       class="btn btn-primary shadow btn-xs sharp me-1">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <form asp-controller="Projects" asp-action="Delete" asp-route-id="@project.Id" method="post" style="display:inline;">
                                                        <button type="submit" class="btn btn-danger shadow btn-xs sharp">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Jobick_style
{
    <!-- Datatable -->
    <link href="~/Jobick/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/Jobick/vendor/datatables/responsive/responsive.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="~/Jobick/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet">
}

@section Jobick_script
{
    <!-- Required vendors -->
    <script src="~/Jobick/vendor/global/global.min.js"></script>
    <script src="~/Jobick/vendor/chartjs/chart.bundle.min.js"></script>
    <!-- Apex Chart -->
    <script src="~/Jobick/vendor/apexchart/apexchart.js"></script>

    <!-- Datatable -->
    <script src="~/Jobick/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Jobick/vendor/datatables/responsive/responsive.js"></script>
    <script src="~/Jobick/js/plugins-init/datatables.init.js"></script>

    <script src="~/Jobick/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Jobick/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>

    <script src="~/Jobick/js/custom.min.js"></script>
    <script src="~/Jobick/js/dlabnav-init.js"></script>


}
