@model Jobick.ViewModels.ProjectStatisticsVM
@{
    Layout = "~/Views/Shared/_LayoutJobick.cshtml";
    ViewData["Title"] = "بيانات المشاريع";
}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6">
                <div class="card mt-4">
                    <div class="card-header border-0 pb-0">
                        <h4 class="card-title mb-0">حالة المشاريع</h4>
                    </div>
                    <div class="card-body pt-3">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-sm-6">
                                <div class="progress default-progress mb-3">
                                    <div class="progress-bar bg-success progress-animated" style="width: @((Model.InProgressProjects + Model.NotStartedProjects + Model.DoneProjects) > 0 ? (Model.DoneProjects * 100 / (Model.InProgressProjects + Model.NotStartedProjects + Model.DoneProjects)) : 0)%;" role="progressbar">
                                        <span class="sr-only">@((Model.InProgressProjects + Model.NotStartedProjects + Model.DoneProjects) > 0 ? (Model.DoneProjects * 100 / (Model.InProgressProjects + Model.NotStartedProjects + Model.DoneProjects)) : 0)% مكتملة</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-end mt-2 pb-4 justify-content-between">
                                    <span class="font-w500">المشاريع المكتملة </span>
                                    <h6 class="mb-0">@Model.DoneProjects</h6>
                                </div>
                                <div class="progress default-progress mb-3">
                                    <div class="progress-bar bg-info progress-animated" style="width: @((Model.InProgressProjects + Model.NotStartedProjects + Model.DoneProjects) > 0 ? (Model.InProgressProjects * 100 / (Model.InProgressProjects + Model.NotStartedProjects + Model.DoneProjects)) : 0)%;" role="progressbar">
                                        <span class="sr-only">@((Model.InProgressProjects + Model.NotStartedProjects + Model.DoneProjects) > 0 ? (Model.InProgressProjects * 100 / (Model.InProgressProjects + Model.NotStartedProjects + Model.DoneProjects)) : 0)% جاري التنفيذ</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-end mt-2 pb-4 justify-content-between">
                                    <span class="font-w500">جاري التنفيذ </span>
                                    <h6 class="mb-0">@Model.InProgressProjects</h6>
                                </div>
                                <div class="progress default-progress mb-3">
                                    <div class="progress-bar bg-warning progress-animated" style="width: @((Model.InProgressProjects + Model.NotStartedProjects + Model.DoneProjects) > 0 ? (Model.NotStartedProjects * 100 / (Model.InProgressProjects + Model.NotStartedProjects + Model.DoneProjects)) : 0)%;" role="progressbar">
                                        <span class="sr-only">@((Model.InProgressProjects + Model.NotStartedProjects + Model.DoneProjects) > 0 ? (Model.NotStartedProjects * 100 / (Model.InProgressProjects + Model.NotStartedProjects + Model.DoneProjects)) : 0)% لم تبدأ</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-end mt-2 justify-content-between">
                                    <span class="font-w500"> لم تبدأ</span>
                                    <h6 class="mb-0">@Model.NotStartedProjects</h6>
                                </div>
                            </div>
                            <div class="col-xl-6 col-sm-6">
                                <div id="projectsPieChart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Overdue Projects DataTable -->
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0 pb-0">
                        <h4 class="card-title mb-0">المشاريع المتأخرة</h4>
                    </div>
                    <div class="card-body pt-3">
                        <div class="table-responsive">
                            <table id="overdueProjectsTable" class="table table-hover table-striped" style="min-width: 1000px">
                                <thead>
                                    <tr>
                                        <th class="text-center">معرف المشروع</th>
                                        <th class="text-center">اسم المشروع</th>
                                        <th class="text-center">تاريخ الانتهاء</th>
                                        <th class="text-center" style="text-align: center !important;">عدد المهام غير المكتملة</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in Model.OverdueProjectsWithIncompleteTasks)
                                    {
                                        <tr class="project-row" data-project-id="@p.ProjectId" style="cursor:pointer;">
                                            <td class="text-center">@p.ProjectId</td>
                                            <td class="text-center">@p.Name</td>
                                            <td class="text-center">@p.EndDate.ToShortDateString()</td>
                                            <td class="text-center">@p.IncompleteTasksCount</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Jobick_style
{
    <!-- Datatable -->
    <link href="~/Jobick/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/Jobick/vendor/datatables/responsive/responsive.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="~/Jobick/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet">
}

@section Jobick_script
{
    <!-- Required vendors -->
    <script src="~/Jobick/vendor/global/global.min.js"></script>
    <script src="~/Jobick/vendor/chartjs/chart.bundle.min.js"></script>
    <!-- Apex Chart -->
    <script src="~/Jobick/vendor/apexchart/apexchart.js"></script>

    <!-- Datatable -->
    <script src="~/Jobick/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Jobick/vendor/datatables/responsive/responsive.js"></script>
    <script src="~/Jobick/js/plugins-init/datatables.init.js"></script>

    <script src="~/Jobick/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Jobick/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>

    <script src="~/Jobick/js/custom.min.js"></script>
    <script src="~/Jobick/js/dlabnav-init.js"></script>

    <script src="~/Jobick/vendor/global/global.min.js"></script>
    <script src="~/Jobick/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Jobick/vendor/datatables/responsive/responsive.js"></script>
    <script src="~/Jobick/js/plugins-init/datatables.init.js"></script>
    <script src="~/Jobick/js/custom.min.js"></script>
    <script>
        $(document).ready(function () {
            // Row click event to redirect to project details
            $('#overdueProjectsTable').on('click', '.project-row', function () {
                var projectId = $(this).data('project-id');
                if (projectId) {
                    window.location.href = '/Projects/ProjectDetails/' + projectId;
                }
            });
        });
    </script>

    <!-- Apex Chart -->
    <script src="~/Jobick/vendor/apexchart/apexchart.js"></script>
    <script src="~/Jobick/vendor/chartjs/chart.bundle.min.js"></script>

    <!-- Chart piety plugin files -->
    <script src="~/Jobick/vendor/peity/jquery.peity.min.js"></script>

    <!-- Dashboard 1 -->
    <script src="~/Jobick/js/dashboard/dashboard-1.js"></script>

    <script src="~/Jobick/vendor/owl-carousel/owl.carousel.js"></script>

    <script src="~/Jobick/vendor/apexchart/apexchart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var options = {
                chart: { type: 'pie', height: 250 },
                series: [
                    @Model.DoneProjects,
                    @Model.InProgressProjects,
                    @Model.NotStartedProjects
                ],
                labels: ['‎ ‎ مكتملة‎ ‎ ', '‎ ‎ جاري التنفيذ', '‎‎  لم تبدأ‎ ‎ '],
                colors: ['#198754', '#0dcaf0', '#ffc107'],
                legend: { position: 'bottom', fontFamily: 'inherit', labels: { colors: 'inherit' } },
                dataLabels: {
                    enabled: true,
                    formatter: function (val, opts) {
                        return opts.w.globals.series[opts.seriesIndex];
                    }
                },
                tooltip: {
                    y: {
                        formatter: function (val) { return val + ' مشروع'; }
                    }
                }
            };
            var chart = new ApexCharts(document.querySelector("#projectsPieChart"), options);
            chart.render();
        });
    </script>
}